#!/usr/bin/env xdg-open
[Desktop Entry]
Name=VSFTPD GUI KDE
Exec=vsftpdkde
Icon=~/.local/share/icons/hicolor/48x48/icons_vsftpdkde/vsftpdkde_red.png
Terminal=false
Type=Application
Version=1.0
Categories=Utility;
