#!/usr/bin/env xdg-open
[Desktop Entry]
Name=VSFTPDKDE
Exec=/opt/vsftpd_systrayapp/main.py
Icon=/opt/vsftpd_systrayapp/icon_red.png
Terminal=false
Type=Application
Version=1.0
Categories=Utility;