#!/usr/bin/env xdg-open
[Desktop Entry]
Name=VSFTPD GUI KDE
Exec=vsftpdkde
Icon=utilities-terminal
Terminal=false
Type=Application
Version=1.0
Categories=Utility;